<header>
  <!--    Create a nav bar-->
  <nav class="navbar navbar-expand-lg custom-bg">
    <div class="container-fluid">
      <a class="navbar-brand logo-div" routerLink="/">
        <img alt="Logo" class="logo-image" src="assets/invert-selection.png">
      </a>
      <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
              class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse"
              type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav m-auto">
          <ng-template ngFor [ngForOf]="headerLinks" let-link>
           <div class="nav-item">
             <a class="nav-link" routerLink="{{link.href}}" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">{{link.name}}</a>
           </div>
           <div class="vr"></div>
          </ng-template>
          <div class="nav-item">
            <a class="nav-link resume-link" target="_blank" href="https://docs.google.com/document/d/1sHd7FxdLNv1EErjSFnTw1LTCccG_UQOd/edit?usp=sharing&ouid=103702437679579184450&rtpof=true&sd=true">Resume</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
