<main>
  <!-- Create a row with two columns that each takes up 6 units on lg screen size and 12 units on md screen size  -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <!--                Portrait image-->
        <img src="assets/profile_image.jpg" class="portrait-image" alt="Portrait">
      </div>
      <div class="col-lg-6 col-md-12 intro-section align-middle">
        <!--                Intro section-->
        <h1 class="intro">
          Greetings!
        </h1>
        <p>
          I am Manh Dat "Datthew" Nguyen, a full-stack web developer. I have been programming for the past 4 years and have
          approximately 2 years of industry experience. My goal is to become an excellent web developer so that I can fulfill my
          passion, which is not starving to death and making sure I'm always well-fed and comfortable. I am confident in my
          ability to work in any industry but my favorite industry to work in is the finance industry. I will have my B.S. in
          Computer Science from UC Irvine in June 2023. As a Full Stack web developer, the technologies I'm familiar with are
          React, Typescript, Python, FastAPI, and PostgreSQL. Outside of programming, here are a few things that I enjoy:
        </p>
        <ol start="1">
          <li>
            Playing video games. I'm a big Elden Ring fanboy.
          </li>
          <li>
            Watching/Reading anime/manga. I'm a big fan of the One Piece series.
          </li>
          <li>
            Invest in and learn more about the stock market. I'm a disciple of Joel Greenblatt's magic
            formula investing strategy. Check out my <a href="/projects#magic">project</a> page for more details.
          </li>
          <li>
            Workout at the gym or play basketball. Nothing excites me more than
            lifting weights and seeing a basketball going through the hoops.
          </li>
          <li>
            Watch NBA. I'm a big fan of the Denver Nuggets
          </li>
        </ol>
      </div>
    </div>
  </div>
</main>
