<main class="projects">
  <h1>
    Notable projects
  </h1>
  <!--    Create 4 columns, each of which contains a bootstrap card-->

  <div class="container-fluid">
    <!--        Projects-->
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-12">
        <div class="card">
          <img alt="Fansipan Capital symbol" class="card-img-top m-lg-auto" src="assets/fcg.jpg">
          <div class="card-body">
            <h2 class="card-title">Fansipan Capital Group</h2>
            <p class="card-text">This is the production website of Fansipan Capital Group, an 8-figure investment
              firm startup based in Hanoi, Vietnam. I'm the sole developer who designs, builds and
              maintains this website.</p>
            <a class="btn projects-button" href="https://fansipancapital.com.vn"
               target="_blank">Website link</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-12">
        <div class="card">
          <img alt="Petr Archives symbol" class="card-img-top" src="assets/petr-archives-logo.png">
          <div class="card-body">
            <h2 class="card-title">Petr Archives</h2>
            <p class="card-text">
              Petr Archives is a place where you can post previous Petr drops and share them with the
              world. I contributed to this project by acting as a mentor and helped the team with the
              architecture of the project. Within 24 hours, we were able to build a working prototype of
              the project. This is my first time ever mentoring a group of coders and I felt fortunate to
              work with such a group of amazing individuals.
            </p>
            <a class="btn projects-button" href="https://petr-archives-frontend.vercel.app/"
               target="_blank">Website link</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-12">
        <div class="card">
          <img alt="To Do List" class="card-img-top" src="assets/to-do-list.png">
          <div class="card-body">
            <h2 class="card-title">To Do List</h2>
            <p class="card-text">This is my first web development project. I'm proud of this project since
              I built it with just HTML, CSS and Javascript and no library whatsoever.</p>
            <a class="btn projects-button" href="https://datboi2001.github.io/to-do-list/">Website link</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-12">
        <div class="card" id="magic">
          <img alt="Magic symbol" class="card-img-top" src="assets/magic_formula.jpg">
          <div class="card-body">
            <h2 class="card-title">Magic Formula Investing scraping</h2>
            <p class="card-text">This project contains a web scraper that digs through the
              <a href="http://magicformulainvesting.com/" target="_blank">Magic Formula Investing
                website</a>
              to gather a list of 50 undervalued stocks. With this list, I ping an financial API that
              helps me gather data on these stocks and writes all of the data to a MongoDB database. It is
              an amazing tool that helps me find new investments ideas for my stock portfolio. This is not
              investment advice!</p>
            <a class="btn projects-button" href="https://github.com/datboi2001/MFI"
               target="_blank">Github link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
