<footer>
  <!-- Create footer that includes contact information and copyright -->
  <div class="container-fluid custom-bg">
    <div class="row">
      <div class="col-12">
        <div class="footer">
          <a href="mailto:manhn3@uci.edu">manhn3@uci.edu</a>
          <br>
          <a href="https://discordapp.com/users/426956144788111370" title="Discord" target="_blank"
             class="icon-link"><fa-icon [icon]="faDiscord"></fa-icon></a>
          <a href="https://www.linkedin.com/in/manh-dat-nguyen/" title="Linkedin" target="_blank">
            <fa-icon [icon]="faLinkedin"></fa-icon></a>
          <p>© 2023 by Datthew Nguyen</p>
        </div>
      </div>
    </div>
  </div>
</footer>
